/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-between;
}
.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.footer__logo--white {
  color: #ffffff;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.footer__place {
  color: #ffffff;
}
.footer__email, .footer__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__second-block {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__icons {
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.footer__third-block {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.footer__sign-up {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__input {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: #2f303a;
}
.footer__input ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: none;
  padding: 10px 28px 10px 42px;
}
.footer__icon-send {
  margin-left: 24px;
  fill: #ffffff;
}

/* ARTICLE */
.article__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 94px;
}
.article__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.article__item {
  list-style: none;
  max-width: 270px;
  width: 100%;
}
.article__icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
}
.article__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
.article__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  margin-right: auto;
  margin-left: auto;
}

/* CLIENTS */
.clients__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}
.clients__image {
  fill: #AFB1B8;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__image:hover {
  fill: #2196f3;
  cursor: pointer;
}

/* HEADER */
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .header__container {
    display: none;
  }
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header__container--left {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header__logo, .header__logo--black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.header__logo--black {
  color: #000000;
}

/* OKNO MODALNE */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay-z {
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier 0.4, 0, 0.2, 1;
}
.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.modal__section {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__blanks {
  position: relative;
  width: 100%;
  margin: 16px 0;
}
.modal__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.modal__icon:hover {
  fill: #2196f3;
}
.modal__info {
  position: absolute;
  z-index: 2;
  top: -16px;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}
.modal__input {
  position: relative;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover {
  border-color: #2196f3;
}
.modal__comment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  display: block;
}
.modal__text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: none;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area:hover {
  border-color: #2196f3;
}
.modal__text-area:focus-within {
  border-color: #2196f3;
}
.modal__checked {
  display: flex;
  align-items: center;
}
.modal__checked input:checked + svg {
  display: block;
  background-color: #2196f3;
  border: none;
}
.modal__checked input + svg use {
  opacity: 0;
}
.modal__checked input:checked + svg use {
  opacity: 1;
}
.modal__checked input + svg {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
  fill: #ffffff;
  padding: 2px;
  margin-right: 8px;
}
.modal__checked input {
  display: none;
}
.modal__accept {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal__links {
  color: #2196f3;
}
.modal__send-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}

/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
}
.navigation__container {
  display: flex;
  list-style: none;
  gap: 46px;
  position: relative;
}
.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.navigation__link:hover {
  color: #2196f3;
}
.navigation__agency::after {
  content: "";
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  width: 53px;
  height: 4px;
  top: 46px;
  left: 0;
}
.navigation__portfolio::after {
  content: "";
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  width: 53px;
  height: 4px;
  top: 46px;
  left: 100px;
}

.address {
  display: flex;
  align-items: center;
}
.address__container {
  display: flex;
  gap: 50px;
}
.address__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.address__link:hover {
  color: #2196f3;
}
.address__icon {
  fill: #757575;
  margin-right: 10px;
}
.address__icon:hover {
  fill: #2196f3;
}

/* PORTFOLIO */
.buttons {
  padding-top: 94px;
}
.buttons__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 34px;
}
.buttons__quote {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  margin-right: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__quote:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio {
  padding-bottom: 94px;
}
.portfolio__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 0;
}
.portfolio__item {
  border: 1px solid #EEEEEE;
  max-width: 370px;
}
.portfolio__card {
  position: relative;
  overflow: hidden;
}
.portfolio__card:hover .portfolio__card-overlay {
  transform: translateY(0);
}
.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.portfolio__card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
.portfolio__image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.portfolio__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 20px 24px;
}
.portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* PROJECTS */
.projects__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 94px;
}
.projects__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}
.projects__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding: 0px;
  margin-top: 50px;
}
.projects__photo {
  position: relative;
}
.projects__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 3px;
}

/* SLIDER */
.slider {
  background-color: #000000;
}
.slider__container {
  background: url(../../images/background-photo.jpg);
  border: 1px solid #000000;
  padding: 200px 0;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #000000;
}
.slider__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.slider__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 42px;
  margin-top: 30px;
}

/* TEAM */
.team {
  background-color: #f5f4fa;
}
.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.team__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.team__member {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__photo {
  width: 100%;
}
.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}
.team__job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.team__symbols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 25px;
  gap: 10px;
}
.team__socials {
  fill: #757575;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials:hover {
  background-color: #2196f3;
  cursor: pointer;
  fill: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header__container--left {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header__logo, .header__logo--black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.header__logo--black {
  color: #000000;
}

/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
}
.navigation__container {
  display: flex;
  list-style: none;
  gap: 46px;
  position: relative;
}
.navigation__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.navigation__link:hover {
  color: #2196f3;
}
.navigation__agency::after {
  content: "";
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  width: 53px;
  height: 4px;
  top: 46px;
  left: 0;
}
.navigation__portfolio::after {
  content: "";
  position: absolute;
  background: #2196f3;
  border-radius: 2px;
  width: 53px;
  height: 4px;
  top: 46px;
  left: 100px;
}

.address {
  display: flex;
  align-items: center;
}
.address__container {
  display: flex;
  gap: 50px;
}
.address__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
.address__link:hover {
  color: #2196f3;
}
.address__icon {
  fill: #757575;
  margin-right: 10px;
}
.address__icon:hover {
  fill: #2196f3;
}

/* SLIDER */
.slider {
  background-color: #000000;
}
.slider__container {
  background: url(../../images/background-photo.jpg);
  border: 1px solid #000000;
  padding: 200px 0;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: #000000;
}
.slider__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.slider__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 42px;
  margin-top: 30px;
}

/* ARTICLE */
.article__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 94px;
}
.article__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
}
.article__item {
  list-style: none;
  max-width: 270px;
  width: 100%;
}
.article__icon {
  background-color: #f5f4fa;
  padding: 25px 100px;
}
.article__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
.article__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

/* PROJECTS */
.projects__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 94px;
}
.projects__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}
.projects__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  padding: 0px;
  margin-top: 50px;
}
.projects__photo {
  position: relative;
}
.projects__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 3px;
}

/* TEAM */
.team {
  background-color: #f5f4fa;
}
.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.team__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-top: 50px;
}
.team__member {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__photo {
  width: 100%;
}
.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
}
.team__job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.team__symbols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 25px;
  gap: 10px;
}
.team__socials {
  fill: #757575;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials:hover {
  background-color: #2196f3;
  cursor: pointer;
  fill: #ffffff;
}

/* CLIENTS */
.clients__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}
.clients__image {
  fill: #AFB1B8;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__image:hover {
  fill: #2196f3;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: space-between;
}
.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.footer__logo--white {
  color: #ffffff;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.footer__place {
  color: #ffffff;
}
.footer__email, .footer__tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__second-block {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__icons {
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icons:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.footer__third-block {
  display: flex;
  flex-direction: column;
  margin-left: 78px;
}
.footer__sign-up {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__input {
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: #2f303a;
}
.footer__input ::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.footer__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: none;
  padding: 10px 28px 10px 42px;
}
.footer__icon-send {
  margin-left: 24px;
  fill: #ffffff;
}

/* PORTFOLIO */
.buttons {
  padding-top: 94px;
}
.buttons__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 34px;
}
.buttons__quote {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding: 6px 22px;
  margin-right: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__quote:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio {
  padding-bottom: 94px;
}
.portfolio__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 0;
}
.portfolio__item {
  border: 1px solid #EEEEEE;
  max-width: 370px;
}
.portfolio__card {
  position: relative;
  overflow: hidden;
}
.portfolio__card:hover .portfolio__card-overlay {
  transform: translateY(0);
}
.portfolio__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.portfolio__card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
.portfolio__image {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.portfolio__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 20px 24px;
}
.portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* OKNO MODALNE */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay-z {
  z-index: 10;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier 0.4, 0, 0.2, 1;
}
.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.modal__section {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__blanks {
  position: relative;
  width: 100%;
  margin: 16px 0;
}
.modal__icon {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.modal__icon:hover {
  fill: #2196f3;
}
.modal__info {
  position: absolute;
  z-index: 2;
  top: -16px;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}
.modal__input {
  position: relative;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover {
  border-color: #2196f3;
}
.modal__comment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  display: block;
}
.modal__text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  outline: none;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-area:hover {
  border-color: #2196f3;
}
.modal__text-area:focus-within {
  border-color: #2196f3;
}
.modal__checked {
  display: flex;
  align-items: center;
}
.modal__checked input:checked + svg {
  display: block;
  background-color: #2196f3;
  border: none;
}
.modal__checked input + svg use {
  opacity: 0;
}
.modal__checked input:checked + svg use {
  opacity: 1;
}
.modal__checked input + svg {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
  fill: #ffffff;
  padding: 2px;
  margin-right: 8px;
}
.modal__checked input {
  display: none;
}
.modal__accept {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal__links {
  color: #2196f3;
}
.modal__send-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */