/* HEADER */
 @import "./utils/vars";

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

body {
    font-family: 'Roboto';
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: $white-color;
    border-bottom: 1px solid #ececec;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        &--left {
            display: flex;
            align-items: center;
            gap: 54px;
        }
    }
 
    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: $accent-color;
        text-decoration: none;

        &--black {
            @extend .header__logo;
            color: $black-color;
        }
    }
}


.navigation {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        list-style: none;
        gap: 46px;
    }   

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $main-color;
        text-decoration: none;
    }
}

.address {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        gap: 50px;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        text-decoration: none;
    }
}

/* SLIDER */


.slider__container {
    background-color: $background-dark-color;
    padding: 200px 0;
}

.slider__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
}

.slider__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 42px;
}