/* HEADER */
 @import "./utils/vars";

 *,
 *::before,
 *::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

body {
    font-family: 'Roboto';
    margin-right: auto;
    margin-left: auto;
}

.header {
        background-color: $white-color;
        border-bottom: 1px solid #ececec;
        padding-top: 24px;
        padding-bottom: 24px;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        &--left {
            display: flex;
            align-items: center;
            gap: 54px;
        }
    }
 
    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: $accent-color;
        text-decoration: none;

        &--black {
            @extend .header__logo;
            color: $black-color;
        }
    }
}


.navigation {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        list-style: none;
        gap: 46px;
    }   

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $main-color;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
    }
}

.address {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        gap: 50px;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
    }
}

/* SLIDER */

.slider {
    background-color: $grey-color;
        &__container {
            background: url(../../images/background-photo.jpg);
            border: 1px solid $black-color;
            padding: 200px 0;
            padding: 200px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
        }

        &__heading {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-color;
        }

        &__button {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            justify-content: center;
            text-align: center;
            letter-spacing: 0.06em;
            color: $white-color;
            background: $accent-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 10px 42px;
            margin-top: 30px;
        }
}


/* article */

.article {

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 94px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        padding: 0px;
    }

    &__item {
       list-style: none;
       max-width: 270px;
       width: 100%;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        margin-top: 10px;
    }
}

/* projects */

.projects {

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 94px;
        margin-bottom: 94px;
    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-color;
        margin: 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
        padding: 0px;
        margin-top: 50px;
        }
}

/* team */

.team {
    background-color: $background-light-color;
    &__container {
        padding-top: 94px;
        padding-bottom: 94px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-color;
    }
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
        padding: 0;
        margin-top: 50px;
    }
    &__member {
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__photo {
        width: 100%;
    } 
    &__name {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $main-color;
        margin-top: 30px;
    }
    &__job {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        margin-top: 10px;
        }
}

.footer {
    background-color: $background-dark-color;

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: $accent-color;
        text-decoration: none;
        &--white {
            color: $white-color;
        }
    }

    &__adress {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

    &__place {
        color: $white-color;
    }

    &__email,
    &__tel {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 9px;
    }
}

/* PORTFOLIO */

.buttons {
        padding-top: 94px;

    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 34px;
    }
    &__quote {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $black-color;
        background: $background-light-color;
        border-radius: 4px;
        border-style: none;
        padding: 6px 22px;
        margin-right: 6px;
    }
}

/* projects */

.portfolio {
        padding-bottom: 94px;
    &__container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        gap: 30px;
        padding: 0;
    }
    &__item {
        border: 1px solid #EEEEEE;
        max-width: 370px;
    }
    &__image {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: $main-color;
        padding: 20px 24px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
    }
}