/* ARTICLE */

.article {

    &__container {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-top: 94px;
        justify-content: center;
        @media screen and (max-width: $table-screen) {
            max-width: 100%;
        }
        @media screen and (max-width: $mobile-screen) {
            max-width: 100%;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        gap: 30px;
        @media screen and (max-width: $table-screen) {
            max-width: 768px;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
    }

    &__item {
       list-style: none;
       max-width: 270px;
       width: 100%;
    }

    &__icon {
        background-color: $background-light-color;
        padding: 25px 100px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-color;
        margin-top: 30px;
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        margin-top: 10px;
    }
}
