/* NAVIGATION */

.navigation {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-screen) {
        display: none;
    }

    &__container {
        display: flex;
        list-style: none;
        gap: 46px;
        position: relative;
    }   

    &__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $main-color;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
    }

    &__agency::after {
        content: "";
        position: absolute;
        background: $accent-color;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        top: 46px;
        left: 0;
        @media screen and (max-width: $table-screen){
            top: unset;
            bottom: -40px;
        }
    }
    
     &__portfolio::after {
        content: "";
        position: absolute;
        background: $accent-color;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        top: 46px;
        left: 0;
    }
}



.address {
    display: flex;
    align-items: center;
    @media screen and (max-width: $mobile-screen) {
        display: none;
    }

    &__container {
        display: flex;
        gap: 50px;
        @media screen and (max-width: $table-screen){
            flex-direction: column;
            gap: 16px;
        }
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        text-decoration: none;
            &:hover {
                color: $accent-color;
                }
            &:hover svg {
                fill: $accent-color;
            }
    }
    

    &__icon {
        fill: $descriptions-color;
        margin-right: 10px;
            &:hover {
                fill: $accent-color;
            }
    }
}