/* NAVIGATION */

.navigation {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        list-style: none;
        gap: 46px;
        position: relative;
    }   

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $main-color;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
    }

    &__agency::after {
        content: "";
        position: absolute;
        background: $accent-color;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        top: 46px;
        left: 0;
    }
    
     &__portfolio::after {
        content: "";
        position: absolute;
        background: $accent-color;
        border-radius: 2px;
        width: 53px;
        height: 4px;
        top: 46px;
        left: 100px;
    }
}



.address {
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        gap: 50px;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: $descriptions-color;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
    }

    &__icon {
        fill: $descriptions-color;
        margin-right: 10px;
        &:hover {
            fill: $accent-color;
        }
        }
}