/* PORTFOLIO */

.buttons {
    padding-top: 94px;

&__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 34px;
}
&__quote {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $black-color;
    background: $background-light-color;
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px;
    margin-right: 6px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); ;
    &:hover {
        background-color: $accent-color;
        color: $white-color;
    }
}
}


.portfolio {
    padding-bottom: 94px;
&__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
&__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    padding: 0;
}
&__item {
    border: 1px solid #EEEEEE;
    max-width: 370px;
}

&__card {
    position: relative;
    overflow: hidden;
    &:hover .portfolio__card-overlay {
        transform: translateY(0);
    }
}

&__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;
}


&__card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $white-color;
    padding: 49px 45px 49px 24px;
}

&__image {
    display: flex;
    flex-direction: column;
    width: 100%;
}

&__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $main-color;
    padding: 20px 24px;
}
&__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $descriptions-color;

}
}
