
    $main-color: #212121;
    $accent-color: #2196f3;
    $descriptions-color: #757575;
    $background-dark-color: #2f303a;
    $background-light-color: #f5f4fa;
    $white-color: #ffffff;
    $black-color: #000000;
    $client-list-color: #AFB1B8;
    $grey-color: #ffffff99;

    $table-screen: 1200px;
    $mobile-screen: 600px;